.weather-widget{
    transition: 0.4 ease-out;
    min-height: 100vh;
    background-image: url('../../assets/images/london.jpg');
    background-size: cover;
    background-position: center;
    padding: 1rem;
    width: 100%;
}

.search-box{
    margin-top: 10%;
    display: block;

    input{
        padding: 1rem;
        margin: 1rem auto;
        display: block;
        width: 100%;
        border-radius: 2rem;
        border: none;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.35);
        font-size: medium;
        background-image:url('https://dar-group-150-holborn.s3.eu-west-2.amazonaws.com/images/search-icon.svg');
        background-repeat:no-repeat;
        background-position: 98%;
        outline: 0;
        background-size: 22px;
        position: relative;
        max-width: 500px;

        &:focus{
            outline: none;        
        }
    }
}

.location{
    font-weight: bolder;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.35);
    line-height: 1;
    font-size: x-large;

    @media screen and (max-width:687px){
        line-height: 1.5;
    }
}

.date{
    text-shadow: 0px 0px 20px rgba(0,0,0,0.35);
    line-height: inherit;

    @media screen and (max-width:687px){
        line-height: 1.5;
    }
}

.location-box, .weather-box{
    text-align: center;
    line-height: 2.3;
    color: white;
}

.temp{
    font-size: 3rem;
    font-weight: bolder;
    display: block;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.35);    
    position: relative;
    top: -10px;
    line-height: 1.8;

    @media screen and (max-width:687px){
        font-size: 2rem;
        line-height: 2.5;
    }

}

.weather-box{
    background: rgba(0,0,0,.5);
    display: block;
    width: 50%;
    margin: 1rem auto;
    border-radius: 2rem;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.35);
    padding: 1rem;
    max-width: 300px;

    @media screen and (max-width:687px){
        width: 100%;
    }

}

.weather{
    font-size: 2rem;
    font-weight: bolder;
    margin-top: -2rem;
    display: block;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.35);
    line-height: 1.8;

    @media screen and (max-width:687px){
        font-size: 1.5rem;
    }
}