.weather-widget{
    transition: 0.4 ease-out;
    // min-height: 100vh;
    // padding: 1rem;
    width: 100%;
    max-width: 768px;
}

.search-box{
    // margin-top: 10%;
    display: block;

    input{
        padding: 1rem;
        margin: 1rem auto;
        display: block;
        width: 100%;
        border: none;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.35);
        font-size: medium;
        background-image:url('https://dar-group-150-holborn.s3.eu-west-2.amazonaws.com/images/search-icon.svg');
        background-repeat:no-repeat;
        background-position: 98%;
        outline: 0;
        background-size: 22px;
        position: relative;
        max-width: 500px;

        &:focus{
            outline: none;        
        }
    }
}

.location{
    font-weight: bolder;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.35);
    line-height: 1.5;
    font-size: 1.2rem;

    @media screen and (max-width:687px){
        line-height: 1.5;
    }
}

.date{
    text-shadow: 0px 0px 20px rgba(0,0,0,0.35);
    font-size: .8rem;
    font-weight: 400;
}

.location-box, .weather-box{
    color: white;
}

.temp{
    font-size: 2.5rem;
    font-weight: bolder;
    display: block;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.35);    
    position: relative;
    line-height: 1.85;
    text-align: left;

}

.temp-now{
    display: block;
    position: relative;
    top: -0.5rem;
}

.weather-box{
    background: #1F8ECC;
    display: block;
    //width: 50%;
    border-radius: 1em;
    //box-shadow: 0px 0px 20px rgba(0,0,0,0.35);
    padding: 1rem;

    

    @media screen and (max-width:687px){
        width: 100%;
    }

}

.weather{
    font-size: 1.3rem;
    font-weight: bolder;
    margin-top: -1rem;
    display: block;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.35);
    text-transform: capitalize;

    @media screen and (max-width:687px){
        font-size: 1.3rem;
    }
}

.weather-latest{
    display: flex;
}

.temp{
    width: 65%;
}

.weather-icon{
    width: 35%;
    position: relative;
    // top:-1rem;
    text-align: end;

    img{
        max-width: 175px;
    }
}


.feels-like{
    font-size: small;
    display: block;
}